/node_modules/**
**/dist/**
**/dist-storybook/**
/tests/unit/coverage/**
.browserslistrc
.docker*/**
.prettierignore
.gitlab-ci.yml
/gitlab-ci/**
/dist_electron/**
.env*
.dockerignore
.yarnrc
**/docs/**
