@import url('https://fonts.googleapis.com/css2?family=Piazzolla:ital,wght@0,400;0,600;0,800;1,400;1,600;1,800&display=swap');
@import 'shared.scss';
@import 'normalize.scss';
@import 'spacing.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Piazzolla', serif;
  color: $text;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include bg-paper($body);
}

h1 {
  font-style: italic;
  font-weight: 800;
}

p {
  line-height: 1.35;
}

p.epic {
  text-align: justify;

  &::first-letter {
    float: left;
    padding-right: 0.15em;
    padding-left: 0.1em;
    font-size: 2.8em;
    line-height: 0.9;
    color: $primary;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  }
}
