$sizes: 12;

@for $i from 1 through $sizes {
  $margin: $i * 0.25rem;

  /* margin #{$margin} */
  .m-#{$i} {
    margin: $margin !important;
  }
  .ml-#{$i} {
    margin-left: $margin !important;
  }
  .mr-#{$i} {
    margin-right: $margin !important;
  }
  .mt-#{$i} {
    margin-top: $margin !important;
  }
  .mb-#{$i} {
    margin-bottom: $margin !important;
  }
  .mx-#{$i} {
    margin-right: $margin !important;
    margin-left: $margin !important;
  }
  .my-#{$i} {
    margin-top: $margin !important;
    margin-bottom: $margin !important;
  }
}

@for $i from 1 through $sizes {
  $padding: $i * 0.25rem;

  /* padding #{$padding} */
  .p-#{$i} {
    padding: $padding !important;
  }
  .pl-#{$i} {
    padding-left: $padding !important;
  }
  .pr-#{$i} {
    padding-right: $padding !important;
  }
  .pt-#{$i} {
    padding-top: $padding !important;
  }
  .pb-#{$i} {
    padding-bottom: $padding !important;
  }
  .px-#{$i} {
    padding-right: $padding !important;
    padding-left: $padding !important;
  }
  .py-#{$i} {
    padding-top: $padding !important;
    padding-bottom: $padding !important;
  }
}
